<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      filre
    </div>
    <div class="col-md-9">
      <h4>İlanlar</h4>
      <table class="table">
        <thead>
          
          <th >Fotoğraf</th>
          <th >Başlık</th>
          <th >Fiyat</th>
          <th >İlan Tarihi</th>
          <th >Detay</th>
        </thead>
        <tbody>
          <tr *ngFor="let kayit of kayitlar">
            
            <td><h3>IMAGE</h3></td>
            <td>{{kayit.ilanBaslik}}</td>
            <td>{{kayit.fiyat | currency: '₺'}}</td>
            <td>{{kayit.ilanTarihi | date:"dd:MM:yyyy"}}</td>
            <td><button class="btn btn-warning btn-sm" (click)="Duzenle()">Düzenle</button></td>
            <td><button class="btn btn-danger btn-sm" (click)="Sil()">Sil</button></td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>