
	<!--- Navbar --->
	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<a class="navbar-brand text-white" href="#"><i class="fa fa-graduation-cap fa-lg mr-2"></i>Emlak Portal</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse" aria-controls="nvbCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="nvbCollapse">
        
				<ul class="navbar-nav ml-auto">
					<li class="nav-item pl-1">
						<a class="nav-link" [routerLink]="['/']"><i class="fa fa-home fa-fw mr-1"></i>Anasayfa</a>
					</li>
					<li class="nav-item active pl-1">
						<a class="nav-link" [routerLink]="['/ilanlar']"><i class="fa fa-th-list fa-fw mr-1"></i>Bütün İlanlar</a>
					</li>
					<li class="nav-item pl-1">
						<a class="nav-link" [routerLink]="['/yonet']" *ngIf="fbServis.OturumKontrol()"><i class="fa fa-th-list fa-fw mr-1" ></i>İlanlarım</a>
					</li>
					<li class="nav-item pl-1">
						<a class="nav-link" [routerLink]="['/ilan-ver']"><i class="fa fa-plus fa-fw fa-rotate-180 mr-1"></i>İlan ver</a>
					</li>
					<li class="nav-item pl-1">
						<button class="btn btn-outline-success my-2 my-sm-0 " *ngIf="!fbServis.OturumKontrol()" [routerLink]="['/login']"><i class="fa fa-sign-in fa-fw mr-1"></i>Giriş Yap</button>
					</li>
					<li class="nav-item pl-1">
						<button class="btn btn-outline-info my-2 my-sm-0 ml-2" *ngIf="!fbServis.OturumKontrol()" [routerLink]="['/sign-up']"><i class="fas fa-user-plus fa-fw mr-1"></i>Kayıt Ol</button>
					</li>
					<li class="nav-item pl-1" *ngIf="fbServis.OturumKontrol()">
						<button class="btn btn-primary my-2 my-sm-0"  ><i class="fa fa-user fa-fw mr-1"></i>{{adsoyad}}</button>
					
					<li class="nav-item pl-1">
						<button class="btn btn-outline-danger my-2 my-sm-0" *ngIf="fbServis.OturumKontrol()" (click)="OturumKapat()" ><i class="fa fa-sign-out fa-fw mr-1"></i>Çıkış Yap</button>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!--# Navbar #-->
