<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-outline-primary" [routerLink]="['/ilanlar']">İlanları Gör</button>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-md-12">
      <form #frm="ngForm" (ngSubmit)="Kaydet()">
        <div class="card">
          <div class="card-header">
           <h4> İlan Düzenle</h4>
          </div>
          <div class="card-body">
            <div class="form-group col-md-12">
              <label>İlan Başlığı</label>
              <input type="text" name="ilanBaslik" class="form-control" [(ngModel)]="secKayit.ilanBaslik" required #ilanBaslik="ngModel" [ngClass]="{'is-invalid': ilanBaslik.invalid && ilanBaslik.dirty}">
            </div>

            <div class="form-group col-md-12">
              <label>Açıklama *</label>
              <textarea name="aciklama" rows="10" class="form-control" [(ngModel)]="secKayit.aciklama" required #aciklama="ngModel" [ngClass]="{'is-invalid': aciklama.invalid && aciklama.dirty }"></textarea>
            </div>

            <div class="form-group col-md-4">
              <label>Fiyat</label>
              <input type="number" name="fiyat" class="form-control " [(ngModel)]="secKayit.fiyat" required #fiyat="ngModel" [ngClass]="{'is-invalid': fiyat.invalid && fiyat.dirty }">
            </div>
            <div class="form-group col-md-4">
              <label>m2</label>
              <input type="number" name="m2" class="form-control " [(ngModel)]="secKayit.m2" required #m2="ngModel" [ngClass]="{'is-invalid': m2.invalid && m2.dirty }">
            </div>
            <div class="form-group col-md-4">
              <label for="OdaSayisiDropdown">İlan Durumu</label>
              <select name="durum" class="form-control" [(ngModel)]="secKayit.ilanDurum">
                <option selected>Seçiniz</option>  
                <option *ngFor="let i of durumlar" [value]="i"> {{i}} </option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="OdaSayisiDropdown">Oda Sayısı</label>
              <select name="oda" class="form-control" [(ngModel)]="secKayit.odaSayisi" required>
                <option selected>Seçiniz</option>  
                <option *ngFor="let i of odalar" [value]="i"> {{i}} </option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="OdaSayisiDropdown">Bulunduğu Kat</label>
              <select name="kats" class="form-control"  [(ngModel)]="secKayit.kat" #kat="ngModel" required>
                <option selected>Seçiniz</option>  
                <option *ngFor="let i of katlar" [value]="i"> {{i}} </option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="OdaSayisiDropdown">Şehir</label>
              <select name="il" class="form-control" [(ngModel)]="secKayit.ilanAdres" required>
                <option selected>Seçiniz</option>  
                <option *ngFor="let i of iller" [value]="i"> {{i}} </option>
              </select>
            </div>
            <!-- <div class="form-group col-md-12">
              <label>Bir Fotoğraf seçiniz</label><br>
              <input type="file" (change)="DosyaSec($event)">
              
            </div> -->
          </div>
          <div class="card-footer">
            <input type="submit" value="Kaydet" class="btn btn-success" [disabled]="frm.invalid">
          
          </div>
        </div>
      </form>
      <div class="card-footer mb-5"><button class="btn btn-primary ml-2" [routerLink]="['/yonet']">İptal</button>
      <button class="btn btn-link text-danger pull-right" (click)="Sil()">İlanı Sil</button></div>
      
    </div>
  </div>
</div>